@font-face {
  font-family: Mojangles;
  src: url('../font/mojangles.otf');
}

.default-background {
  background-color: #000;
  background-image: url('../img/dirt.png');
  background-repeat: repeat;
  background-size: 96px;
}

.default-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  pointer-events: none;
}